*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

img {
   max-width: 100%;
}

:root {
   --orange: rgb(251, 116, 19);
   --white: rgb(255, 255, 255);
   --light-grey: rgb(149, 158, 172);
   --medium-grey: rgb(124, 135, 152);
   --dark-blue: rgb(37, 45, 55);
   --very-dark-blue: rgb(18, 20, 23);
}

body {
   font-size: 0.7rem;
   background-color: var(--very-dark-blue);
   color: var(--light-grey);
   font-family: "Overpass", sans-serif;
   display: grid;
   place-items: center;
}

.container {
   background: linear-gradient(to bottom right, rgb(37, 45, 55), rgb(24, 29, 40));
   background-color: var(--dark-blue);
   max-width: 19rem;
   padding: 1.4rem;
   margin-top: 22vh;
   border-radius: 20px;
}

.star-icon {
   background-color: rgba(124, 135, 152, 0.1);
   padding: 0.8rem;
   border-radius: 200px;
   margin-bottom: 1.1rem;
}

h1 {
   color: var(--white);
   margin-bottom: 0.6rem;
   font-size: 1.2rem;
}

p {
   line-height: 1.1rem;
   margin-bottom: 1.5rem;
}

ul {
   display: flex;
   justify-content: space-between;

   margin-bottom: 1.2rem;
}

li {
   list-style: none;
}

.rating {
   background-color: rgba(124, 135, 152, 0.1);
   padding: 1.3rem;
   border-radius: 50%;
   border: none;
   color: var(--light-grey);
   text-decoration: none;
   font-size: 0.9rem;
   transition: all 0.1s;

   width: 1rem;
   height: 1rem;
   display: grid;
   place-content: center;
}

.rating:hover {
   background-color: var(--orange);
   color: rgba(255, 255, 255, 0.8);
}

.rating:active {
   transform: translateY(1px);
}

.active {
   background-color: var(--medium-grey);
   color: white;
}

.btn-submit {
   color: rgba(255, 255, 255, 0.8);
   font-size: 0.7rem;
   font-weight: 700;
   letter-spacing: 0.1rem;
   width: 100%;
   border: none;
   padding: 0.6rem;
   border-radius: 1000px;
   text-transform: uppercase;
   background-color: var(--orange);
   display: block;
   transition: all 0.1s;
}

.btn-submit:hover {
   background-color: var(--white);
   color: var(--orange);
}

.hidden {
   visibility: hidden;
}

button:hover {
   cursor: pointer;
}

.thanks {
   text-align: center;
   position: absolute;
}

.thanks__img {
   margin: 0.6rem 0 1.2rem;
   width: 8rem;
}

.thanks__rating {
   color: rgba(223, 139, 70, 0.8);
   display: inline-block;
   background-color: rgba(124, 135, 152, 0.1);
   padding: 0.3rem 0.9rem 0.2rem;
   border-radius: 200px;
   margin-bottom: 1.6rem;
}

.attribution {
   font-size: 11px;
   text-align: center;
   position: absolute;
   top: max(30rem, 85vh);
}
.attribution a {
   text-decoration: none;
   color: hsl(228, 45%, 44%);
}
